<div class="section-title" id="about">
    <h2>About</h2>
</div>
<div class="row">
    <div class="section-info fira-text">
        <div class="quote">⭐ 100% Free, Community-driven and Remote ⭐</div>

        FlaskCon is a community driven Flask event intended for speakers and attendees all over the world to
        participate in technical and evangelical sessions related to Flask. The review team listed below was composed of Pallets members,
        Flask maintainers and more.
    </div>
</div>