<style type="text/css">
    .faq_section{
        margin-bottom: 20px;
    }
</style>
<div class="section-title" id="faq">
    <h2>Event Info</h2>
</div>
<div class="row">
    <div class="section-info">
        <div class="faq_section">
            <h3>How to Attend as Attendee?</h3>
            <div>
                The event will be livestreamed to our <a href="https://www.youtube.com/channel/UC3QC5pASs8v5YVxKwJDtZeQ">Youtube channel</a>. If you want to ask questions, please join the Pallets Discord <a href="https://discord.gg/pallets">https://discord.gg/pallets</a> and join <b>#flaskcon</b> channel. It will be open during session time!
            </div>
            <br />
            <h3>What time does the conference start?</h3>
            <div>
                Check the <a href="#schedule_section">schedule section</a> for time slots. <strong>Please note that the time is based on your timezone.</strong> GMT-wise it's:
                    <ul>
                        <li>Friday 3rd: Interviews start at 15:00 GMT</li>
                        <li>Saturday 4th: Talks start at 14:00 GMT</li>
                        <li>Sunday 5th: Talks start at 09:00 GMT</li>
                    </ul>
            </div>
            <br />
            <h3>Where to get the link of the conference?</h3>
            <div>
                It will be posted right here on the website and on our social media pages. Stay connected!
            </div>
        </div>
    </div>
</div>