<style type="text/css">
    .faq_section{
        margin-bottom: 20px;
    }
</style>
<div class="section-title" id="faq">
    <h2>Event Info</h2>
</div>
<div class="row">
    <div class="section-info">
        <div class="faq_section">
            <h3>How to Attend as Attendee?</h3>
            <div>
                The event will be livestreamed to our <a href="https://www.youtube.com/channel/UC3QC5pASs8v5YVxKwJDtZeQ">Youtube channel</a>. If you want to ask questions, please join the Pallets Discord <a href="https://discord.gg/pallets">https://discord.gg/pallets</a> and join <b>#flaskcon</b> channel. It will be open during session time!
            </div>
            <br />
            <h3>What time does it start?</h3>
            <div>
                Check the <a href="#schedule_section">schedule section</a> for time slots.
                <br /><strong>Please note that the time is based on your timezone.</strong>
            </div>
        </div>
    </div>
</div>