<div class="section-title" id="reviewers">
    <h2>Reviewers</h2>
</div>
<div class="row">
    <div class="section-info card-group">
        {%for reviewer in REVIEWERS%}
        <div class="col-md-3">
            <div class="card organiser-card" title="{{reviewer[0]}}">
                <img src="{{reviewer[2]}}" class="organiser-logo card-img-top">
                <div class="card-body">
                    <p class="reviewer-text">{{reviewer[0]}}</p>
                    <p>{{reviewer[1]}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>