<div class="section-title" id="reviewers">
    <h2>Reviewers</h2>
</div>
<div class="row">
    <div class="section-info">
        {%for reviewer in REVIEWERS%}
            <div class="card organiser-card text-center">
                <img src="{{reviewer[2]}}" class="organiser-logo card-img-top">
                <div class="card-body">
                    <div title="{{reviewer[0]}}">
                        <div class="reviewer-text">{{reviewer[0]}}</div>
                        <div>{{reviewer[1]}}</div>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>