<div class="section-title" id="about">
    <h2>Schedule</h2>
</div>
<div class="row">
    <div class="section-info fira-text">
        <!--
        <script type="text/javascript" src="https://sessionize.com/api/v2/roir1aty/view/Sessions"></script>
    -->
    <script type="text/javascript">
$(document).ready(function () {
    $('body').tooltip({
    selector: '.bio'
});
$.getJSON( "https://sessionize.com/api/v2/hfvabfol/view/All", function( data ) {
    var counter = 0;
    $.each( data['sessions'], function() {
    console.log("data");
    console.log(data);
        var startTime = data['sessions'][counter]['startsAt'];
        var endTime = data['sessions'][counter]['endsAt'];
        var title = data['sessions'][counter]['title'];
        var description = data['sessions'][counter]['description'];
        var speaker_id = data['sessions'][counter]['speakers'][0];
        console.log(speaker_id);
        var s_i = 0;
        for (var i = data['speakers'].length - 1; i >= 0; i--) {
            speaker_data = data['speakers'][i];
            if (speaker_data['id'] == speaker_id){
                speaker = speaker_data;
                s_i = i;
                break;
            }
        }
        var startT = new Date(startTime);
        var startT_hour = startT.getHours();
        if (startT_hour === '0'){
            startT_hour = '00';
        }
        var endT = new Date(endTime);
        var endT_hour = endT.getHours();
        if (endT_hour === '0'){
            endT_hour = '00';
        }
        var fullName = data['speakers'][s_i]['fullName'];
        var bio = data['speakers'][s_i]['bio'];
        var session = `
            <p class="counter">${counter+1}</p>
            <div>
                
                <p class="talk_title">${title}</span></p>
                <div class="schedule_time">
                    ${startT.toLocaleTimeString('en-US')} GMT to 
                    ${endT.toLocaleTimeString('en-US')} GMT</div>
                <div class="talk">
                <p>
                <span class="bio" data-toggle="tooltip" data-placement="top" title="${bio}"><i class="fa fa-info"></i></span>
                ${fullName} 
                </p>
                
                
                <p>${description}</p>
                
            </div>
            </div>
            <hr>
            <div>QnA (5 mins)</div>
            <hr>
            <div>Break (5 mins)</div>
            <hr>

        `;
        if (counter+1 === 9){
            
            $('#schedule').append(`
                <div class="day">
                    July 5
                </div>
            `);
        }
        counter++;
        $('#schedule').append(session);
    });

});
    //$('[data-toggle="tooltip"]').tooltip()
    var interviews = [
        {"name": "", "project":"", "about":""},
    ];
    });
    </script>
    <div id="schedule">
        <div class="day">
            July 3
        </div>
        <div>
            Community builds interviews disclosed soon!
        </div>
        <div class="day">
            July 4
        </div>
    </div>
    </div>
</div>
