<style type="text/css">
    .socialmedia-youtube, .socialmedia-twitter{
        font-size: 55px;
        color: black;
        margin-right: 20px;
    }
    .socialmedia-twitter:hover{
        color: #156ea5 !important;
    }
    .socialmedia-youtube:hover{
        color: #c31919 !important;
    }
</style>
<div class="section-title" id="about">
    <h2>Social Media</h2>
</div>
<div class="row" >
    <div class="section-info fira-text">
  
        <a class="" href="https://twitter.com/flaskcon">
            <i style="color:#1DA1F2;" class="socialmedia-twitter fab fa-twitter"></i>
        </a>
        
        <a class="" href="https://www.youtube.com/channel/UC3QC5pASs8v5YVxKwJDtZeQ">
            <i style="color: red" class="socialmedia-youtube fab fa-youtube"></i>
        </a>
        
    </div>
</div>