<br>
<div class="section-title" id="coc">
    <h2>Code of conduct</h2>
</div>
<div class="container">
    <div class="section-info">
        FlaskCon is a diverse community who maintains a reputation as a friendly, welcoming, inspiring and dynamic group. We’d like to keep it that way, which is why we ask all participants, speakers, organizers and sponsors (collectively: the attendees) to follow the same code of conduct (CoC) as upheld by <a href="https://ep2020.europython.eu/coc/">EuroPython 2020</a>.
    </div>
</div>