<title>{{SITE_NAME}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<link rel="shortcut icon" href="assets/img/FlaskCon_Logo.png" type="favicon/ico" />
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>


<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">

<style type="text/css">
    .header{
     background-image: url('assets/img/flask_background.png');
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
      filter: grayscale(50%);
      /*height: 500px;*/
      height: 100%;
      min-height: 100vh;
    }

    .fira-text{
        font-family: 'Fira Sans', sans-serif;
    }

    .main-info{
        margin-left: 20%;
        margin-right: 20%;
        padding: 50px;
    }
    .main-icon{
        background-color: #3789ff;
        padding: 10px;
        border-radius: 5px;
        width: 60px !important;
        height: 60px !important;
        display: inline-block;
    }
    .main-icon i{
        color: white;
    }
    .flask-nav{
        background: rgb(231,20,20) !important;
        background: radial-gradient(circle, rgba(231,20,20,1) 0%, rgba(241,120,8,1) 36%, rgba(69,150,28,1) 100%) !important;
    }
    .navbar{
        transition: top 0.3s;
    }
    .flask-nav-item .flask-nav-text{
        color: white;
        font-weight: bold;
    }
    .flask-nav-item:hover{
        font-style: italic;
    }
    a{
        text-decoration: inherit; !important;
    }
    a:hover{
        text-decoration: inherit; !important;
    }
    .submit-talk{
        background-color: #1ab394;
        padding: 10px;
        border-radius: 5px;
        color: white;
        border: 5px solid #1ab394;
        font-weight: bold;
    }
    .submit-talk:hover{
        border: 5px solid #40d6b8;
    }
    .submit-talk:active{
        border: 5px solid #43bba3;
    }
    .section-title{
        border: none;
        border-bottom: 10px solid #f17808;
        padding: 5px;
        margin-left: 10%;
        width: 100px;
    }
    .section-title h2{
    }
    .section-info {
        margin-top: 60px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 120px;
        text-align: justify;
    }
    .quote{
        border-left: 5px solid #d6c23f;
        margin: 10px;
        padding: 20px;
        background-color: #f7e259;
    }
    .bullet{
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #f97f5c;
        display: inline-block;
    }
    .reviewer-text{
        display: inline-block;
        margin-bottom: 5px;
        font-size: 25px;
    }
    .organiser-card{
        border: 5px solid gray;
        display: inline-block;
        margin: 5px;
        padding: 5px;
        float: left;
        background-color: #faf9f5;
    }
    .flask-footer{
        padding: 10px;
        background-color: gray;
        color: white;
    }
    body{
            overflow-x: hidden !important;
            
          }
    .scroll-able {
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    .scroll-able::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
    .scroll-content{
        max-width: 100%; min-width: 500px;
    }
    .scroll-content-main{
        max-width: 100%; min-width: 1000px;
    }
    #goTop {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 10px;
        border: none;
        outline: none;
        background-color: #f17808;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 18px;
      }
      
      #goTop:hover {
        background-color: #555;
      }
      
</style>