<button type="button" id="goTop" onclick="return goTop()"><i class="fa fa-arrow-up"></i></button>
<header class="jumbotron header-page jumbotron-fluid header">
  <div class="row" style="background-color: transparent; border: none; outline: none; padding-top: 20vh">
    <div class="col text-center fira-text">
      <div class="header-title">
        <h1><span class="badge">FlaskCon <br><p style="text-align: right; font-size: 20px; color: #f17808;">2020</p></span></h1>
      </div>
      <hr />
      <div class="row text-center">
        <div class="countdown">
          <h4>
            <div class="row">
              <div class="col-md-auto">
                <span id="cdown-days" class="cdown cdown-days"></span><br/>days
              </div>
              <div class="col-md-auto">
                <span id="cdown-hours" class="cdown cdown-hours"></span><br/>hours
              </div>
              <div class="col-md-auto">
                <span id="cdown-minutes" class="cdown cdown-minutes"></span><br/>minutes
              </div>
              <div class="col-md-auto">
                <span id="cdown-seconds" class="cdown cdown-seconds"></span><br/>seconds
              </div>
            </div>
          </h4>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col event-info">
          <h3><strong>July 4th & 5th</strong></h3>
          <h5><i class="fa fa-clock"></i> 9:00 - 14:00 GMT</h5>
          <h5><i class="fa fa-map-marker"></i> Remote</h5>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="parallax"></div>


<script>
  // Set the date we're counting down to
  var countDownDate = new Date("July 4, 2020 09:00:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function () {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.querySelector(".cdown-days").innerHTML = days;
    document.querySelector(".cdown-hours").innerHTML = hours;
    document.querySelector(".cdown-minutes").innerHTML = minutes;
    document.querySelector(".cdown-seconds").innerHTML = seconds;

    //  document.getElementById("cdown").innerHTML = days + "<br/>d " + hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.querySelector(".cdown-days").innerHTML = "EXPIRED";
      document.querySelector(".cdown-hours").innerHTML = "";
      document.querySelector(".cdown-minutes").innerHTML = "";
      document.querySelector(".cdown-seconds").innerHTML = "";
    }
  }, 1000);

  mybutton = document.getElementById("goTop");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function goTop() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }

</script>