.fcon-nav{
	background-color: #00a896 !important;
}

.fcon-nav .navbar-brand,
.fcon-nav .nav-link{
	color: white !important;
}

.fcon-name{
	font-size: 60px;
}

.fcon-section{
	margin: 50px;
	margin-bottom: 60px;
}


.fcon-cfp{
	background-color: #1ab394;
	color: white;
}

.fcon-cfp:hover{
	background-color: #00a896;
	color: white;
}

.fcon-info div{
	margin-bottom: 20px;
}

.fcon-img{
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  width: 400px !important;
  margin: 10px;
}

.fcon-org{
	padding: 30px;
	margin: 10px;
}

.fcon-org img{
	width: 100px !important;
	margin: 5px;
	margin-right: 30px;
}