<div class="icon-bar">
  <a href="https://www.youtube.com/channel/UC3QC5pASs8v5YVxKwJDtZeQ" target="_blank" class="youtube"><i
      class="fab fa-youtube"></i></a>
  <a href="https://twitter.com/FlaskCon" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
  <a href="https://www.linkedin.com/in/flaskcon-conference-07aa5b1aa/" target="_blank" class="linkedin"><i
      class="fab fa-linkedin"></i></a>
</div>

<div class="modal " tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 30px;"><strong><i class="fas fa-exclamation-triangle"
              style="color: #f7c02b;"></i> THE CONFERENCE IS HAPPENING RIGHT NOW!! <i
              class="fas fa-exclamation-triangle" style="color: #f7c02b;"></i></strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="font-size: 22px; text-align: center">
          <span class="fab fa-youtube" style="color: red;"></span> The event is being livestreamed on our <a
            href="https://www.youtube.com/channel/UC3QC5pASs8v5YVxKwJDtZeQ" target="_blank">Youtube Channel</a>.
          <br />
          <br />
          <i class="fas fa-question-circle"></i> For Q&A session, please join the <a href="https://discord.gg/pallets"
            target="_blank">Pallets Discord</a> and join #flaskcon channel.
        </p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-danger" href="#">Go to live</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<header class="jumbotron header-page jumbotron-fluid header">
  <div class="row" style="background-color: transparent; border: none; outline: none; padding-top: 20vh">
    <div class="col text-center fira-text">
      <div class="header-title">
        <h1><span class="badge">FlaskCon <br>
            <p
              style="text-align: right; font-size: 20px; background: linear-gradient(to right, #f7c02b, #ee542e); -webkit-background-clip: text; color: transparent;">
              2020</p>
          </span></h1>
      </div>
      <div class="row text-center" style="border-radius: 15px">
        <div class="countdown">
          <span><u>Event starts in</u></span>
          <h4>
            <div class="row">
              <div class="col">
                <span id="cdown-days" class="cdown cdown-days badge"></span>
                <br /><span class="time-text">days</span>
              </div>
              <div class="col">
                <span id="cdown-hours" class="cdown cdown-hours badge"></span><br /><span class="time-text">hours</span>
              </div>
              <div class="col">
                <span id="cdown-minutes" class="cdown cdown-minutes badge"></span><br /><span
                  class="time-text">minutes</span>
              </div>
              <div class="col">
                <span id="cdown-seconds" class="cdown cdown-seconds badge"></span><br /><span
                  class="time-text">seconds</span>
              </div>
            </div>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col event-info">
          <h3><strong>July 4th & 5th</strong></h3>
          <!-- <h5><i class="fa fa-clock"></i> <span class="time-range"></span></h5> -->
          <h5><i class="fa fa-map-marker"></i> Remote</h5>
        </div>
      </div>
    </div>
  </div>
</header>


<script>
  // Convert the time to user's local time
  //  var startTime = moment('2020-07-04T09:00:00Z').local().format("HH:mm");
  //  var endTime = moment('2020-07-04T14:00:00Z').local().format("HH:mm");
  //  document.querySelector(".time-range").innerHTML = startTime + ' - ' + endTime;

  // Set the date we're counting down to
  var countDownDate = new Date("July 4, 2020 14:00:00 UTC").getTime();
  // timestamp with UTC time

  // Update the count down every 1 second
  var x = setInterval(function () {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.querySelector(".cdown-days").innerHTML = days;
    document.querySelector(".cdown-hours").innerHTML = hours;
    document.querySelector(".cdown-minutes").innerHTML = minutes;
    document.querySelector(".cdown-seconds").innerHTML = seconds;

    //  document.getElementById("cdown").innerHTML = days + "<br/>d " + hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      $('.modal').modal('show');
    }
  }, 1000);

//  mybutton = document.getElementById("goTop");

  // When the user scrolls down 20px from the top of the document, show the button
//  window.onscroll = function () { scrollFunction() };

//  function scrollFunction() {
//    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
//      mybutton.style.display = "block";
//   } else {
//      mybutton.style.display = "none";
//    }
//  }

  // When the user clicks on the button, scroll to the top of the document
//  function goTop() {
//    document.body.scrollTop = 0; // For Safari
//    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
//  }

</script>