<nav class="navbar navbar-expand-lg fira-text fixed-top" id="navbar">
    <a class="navbar-brand" href="#">
        <img src="assets/img/FlaskCon_Logo.png" class="overflow-hidden" width=50 height=50
            style="transform: scale(2.2); margin-right: 30px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars" style="color: #202020"></span>
    </button>

    <div class="collapse navbar-collapse text-right" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active flask-nav-item" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <a class="nav-link" href="#"><span class="flask-nav-text">Home</span></a>
            </li>
            <li class="nav-item flask-nav-item" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <a class="nav-link" href="#about"><span class="flask-nav-text">About</span></a>
            </li>
            <li class="nav-item flask-nav-item" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <a class="nav-link" href="#reviewers"><span class="flask-nav-text">Reviewers</span></a>
            </li>
            <li class="nav-item flask-nav-item" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <a class="nav-link" href="#organisers"><span class="flask-nav-text">Organisers</span></a>
            </li>
            <li class="nav-item flask-nav-item" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <a class="nav-link" href="#partners"><span class="flask-nav-text">Partners</span></a>
            </li>
            <li class="nav-item flask-nav-item" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <a class="nav-link" href="#coc"><span class="flask-nav-text">CodeOfConduct</span></a>
            </li>
            <li class="nav-item flask-nav-item" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <a class="nav-link" href="#contact"><span class="flask-nav-text">Contact</span></a>
            </li>
            <li class="nav-item flask-nav-item" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <a class="nav-link" href="https://github.com/FlaskCon/website"><span class="flask-nav-text">Edit on github</span></a>
            </li>
        </ul>
    </div>
</nav>